<!DOCTYPE html>

<html lang="pt_BR">

<head>
  <meta charset="utf8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BIRL - Bambam's "It's show time" Recursive Language</title>

  <meta prefix="og: http://ogp.me/ns#" property='og:title' content="BIRL - Bambam's 'It's show time' Recursive Language" />
  <meta prefix="og: http://ogp.me/ns#" property='og:type' content='website' />

  <meta prefix="og: http://ogp.me/ns#" property='og:description'
        content='Vem cumpade! Sai de casa codei pra caralho! BIRL!' />

  <meta prefix="og: http://ogp.me/ns#" property='og:site_name' content='BIRL' />

  <meta property="og:url"           content="https://birl-language.github.io" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="BIRL - Bambam's 'It's show time' Recursive Language" />
  <meta property="og:description"   content="Vem cumpade! Sai de casa codei pra caralho! BIRL!" />
  <meta property="og:image"         content="https://birl-language.github.io/images/birl2.png" />

  <meta property="fb:admins" content="100002158398392"/>
  <meta property="fb:admins" content="100002144931535"/>

  <!-- core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/owl.carousel.css" rel="stylesheet">
  <link href="css/owl.transitions.css" rel="stylesheet">
  <link href="css/prettyPhoto.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
  <link href="css/pictonic.css" rel="stylesheet">
  <link href="css/newicons.css" rel="stylesheet">
  <link href="css/flex-calendar.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body id="home" class="homepage" ng-app="birlWeb">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=362013387327951";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <section id="upcoming" ng-controller="birlCtrl">
    <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3 center-wrap">
            <div class="center-inner">
              <img src="images/birl2.png" class="center-img">
            </div>
          </div>
      </div>
      <div class="section-header">
        <h2 class="section-title text-center">BIRL</h2>
        <p class="text-center birl-text">
          O BIRL <span class="italic">(<span class="red">B</span>ambam's "<span class="red">I</span>t's show time" <span class="red">R</span>ecursive <span class="red">L</span>anguage)</span> é a linguagem de programação mais treze já inventada. <br><span class="highlight">Deve ser utilizada apenas por quem realmente constrói fibra e não é água com código. É uma linguagem extremamente simples porém com poder para derrubar todas as árvores do parque Ibirapuera. </span><br>Programando em BIRL, é verão o ano todo!
        </p>
      </div>

      <div class="row console">
        <div class="col-xs-12 col-sm-6 nopadding">
          <div class="editor" ui-ace="{useWrapMode : true,showGutter: true,theme:'monokai',mode: 'birl'}" ng-model="code">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 nopadding">
          <div class="title title-right">
            Entrada
          </div>
          <div class="entrance">
            <textarea ng-model="stdin" placeholder="BIRL!"></textarea>
          </div>
          <div class="title">
            <button class="btn btn-danger btn-large" ng-click="sendBirl()" ng-disabled="disabled">{{btText}}</button>
          </div>
          <div class="title">
            Saída
          </div>
          <div class="exit" ng-class="{'error' : temErro}">
            {{stdout}}
          </div>
          <div class="title bottom">
            <a class="btn btn-danger btn-large" ng-href="{{ fileUrl }}" download="codigo.birl"><span class="fa fa-cloud-download"></span> Tirar da Jaula</a>
          </div>
        </div>
      </div>
      <div class="fb-like" data-href="https://birl-language.github.io" data-width="800" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </section><!--HOME-->


  <section id="about">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">CONSTRUINDO FIBRA</h2>
            <p class="text-center wow fadeInDown">
            </p>
        </div>
        <div class="row">
          <div class="col-xs-12 tutorial-out">
              <div class="tutorial-box">
                  <h3>Início do código</h3>
                  <div class="code">
                      <p>
                          <span class="red">HORA DO SHOW</span>
                          <br>
                          <span class="comment">//código aqui</span>
                          <br>
                          <span class="red">BIRL</span>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Printar na tela</h3>
                  <div class="code">
                      <p>
                          <br>
                          <span class="red">CE QUER VER ESSA PORRA?</span> ("Hello, Mutante")<span class="red">;</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Ler da tela</h3>
                  <div class="code">
                      <p>
                          int x;<br>
                          <span class="red">QUE QUE CE QUER MONSTRAO?</span> ("%d", &x)<span class="red">;</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>If</h3>
                  <div class="code">
                      <p>
                          <br>
                          <span class="red">ELE QUE A GENTE QUER?</span> (3 > 2)<br>
                          <span class="comment">//código a ser executado</span><br>
                          <span class="red">BIRL</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>If/Else</h3>
                  <div class="code">
                      <p>
                          <span class="red">ELE QUE A GENTE QUER?</span> (x > 2)<br>
                          <span class="comment">//caso verdadeiro</span><br>
                          <span class="red">NAO VAI DAR NAO</span><br>
                          <span class="comment">//caso falso</span><br>
                          <span class="red">BIRL</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>While</h3>
                  <div class="code">
                      <p>
                          int x = 5;<br>
                          <span class="red">NEGATIVA BAMBAM</span> (x > 2)<br>
                          <span class="comment">//rodar código</span><br>
                          <span class="comment"></span>x--;<br>
                          <span class="red">BIRL</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>For</h3>
                  <div class="code">
                      <p>
                          int i;<br>
                          <span class="red">MAIS QUERO MAIS</span> (i = 0; i < 5; i++)<br>
                          <span class="comment"></span>CE QUER VER ESSA PORRA? ("%d", i);<br>
                          <span class="red">BIRL</span>
                          <br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
           <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Declarar função</h3>
                  <div class="code">
                      <p>
                          <span class="red">OH O HOME AI PO</span> (int nomeFunc(int a, int b))<br>
                          <span class="comment">//código da função</span><br>
                          <span class="comment"></span><span class="red">BORA CUMPADE</span> 1<span class="red">;</span><br>
                          <span class="red">BIRL</span>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 tutorial-out">
              <div class="tutorial-box">
                  <h3>Chamar função</h3>
                  <div class="code">
                      <p>
                          int a = 5; <br>
                          int b = 8; <br>
                          int c = <span class="red">AJUDA O MALUCO TA DOENTE</span> somar(a, b);<br>
                          <br>
                      </p>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="section-header bottom-header">
        <h2 class="section-title text-center wow fadeInDown"></h2>
        <p class="text-center wow fadeInDown">
          É isso ai galera do BIRL! Estamos finalizando o tutorial, acho que deu pra vocês pegarem hoje bastante informação.
        </p>
        <p class="text-center wow fadeInDown red">
          Quer colaborar com o BIRL? Aumentar a linguagem? Vem cumpade! Acesse o repositório mais bodybuilder do GitHub: <a href="https://github.com/BIRL-Language/BIRL">BIRL</a>
        </p>
      </div>
  </section>

  <section id="operation">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Exemplo Descendente</h2>
        <p class="text-center wow fadeInDown">
          Sai de casa codei pra caralho! Veja como programar em BIRL é bem mais treze que em C com esse somador simples:
        </p>
      </div>
      <div class="row example">
        <div class="col-xs-12 col-sm-6 title title-left">
           C
        </div>
        <div class="col-xs-12 col-sm-6 title title-right">
           BIRL
        </div>
        <div class="col-xs-12 col-sm-6 code code-left">
           <span class="teal">int</span> somar(<span class="teal">int</span> a, <span class="teal">int</span> b) { <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">return</span> a + b; <br>
           } <br><br>

           <span class="teal">int</span> main() { <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">int</span> a, b, res;<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">printf</span>("Entre com a e b: \n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">scanf</span>("%d %d", &a, &b);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;res = somar(a, b);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">printf</span>("O resultado foi %d\n", res);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">if</span>(res == 37) {<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">printf</span>("O resultado é 37.\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">else</span> { <br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">printf</span>("O resultado não é 37.\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="orange">return</span> 0; <br>
           } <br>
        </div>
        <div class="col-xs-12 col-sm-6 code code-right">
           <span class="red">OH O HOME AI PO</span> (int somar(int a, int b))<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">BORA CUMPADE</span> a + b;<br>
           <span class="red">BIRL</span><br><br>

           <span class="red">HORA DO SHOW</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;int a, b, res;<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">CE QUER VER ESSA PORRA?</span> ("Entra com a e b ai cumpade!!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">QUE QUE CE QUER MONSTRAO?</span> ("%d %d", &a, &b);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;res = <span class="red">AJUDA O MALUCO TA DOENTE</span> somar(a, b);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">CE QUER VER ESSA PORRA?</span> ("Oh o resultado ai po: %d\n", res);<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">ELE QUE A GENTE QUER?</span> (res == 37)<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">CE QUER VER ESSA PORRA?</span> ("É 37 anos caralho!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">NAO VAI DAR NAO</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="purple">CE QUER VER ESSA PORRA?</span> ("Manda o double biceps!\n");<br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">BIRL</span><br>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="teal">BORA CUMPADE</span> 0;<br>
           <span class="red">BIRL</span><br>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">Galera do Canal</h2>
        <p class="text-center wow fadeInDown">
          Deixe seu comentário sobre esta linguagem descendente maravilhosa:
        </p>
      </div>
      <div class="fb-comments" data-href="https://birl-language.github.io" data-width="600" data-numposts="5"></div>
    </div>
  </section>

  <footer id="footer">
    <div id="footer_inside">
      <div class="container">
        <div class="row">
          <div class="col-xs-10">
            &copy; 2016 Padilha Monster & RCzera
          </div>

          <div class="col-xs-2">
            <ul class="social-icons pull-right">
              <li>
                <a href="https://github.com/BIRL-Language/BIRL">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              v1.1
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>

  <script src="js/angular.min.js"></script>
  <script src="js/angular/controllers.js"></script>
<script src="src/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ui-ace.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>


</body>

</html>
